<h2>Top <%= User::TOP_BY_COUNT_OF_BOOKS %> authors by count of books</h2>

<table>
  <tr>
    <th>Author</th>
    <th>Books</th>
  </tr>

<% @user_by_count_of_books.each do |user| %>
  <tr>
    <td><%= link_to user.name, user_books_path(user), title: 'Show books' %></td>
    <td><%= user.books_count %></td>
  </tr>
<% end %>
</table>
