<h2>Authors</h2>

<%- if @users.any? %>
    <table>
      <tr>
        <th>Author</th>
        <th>Books count</th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user_books_path(user), title: 'Show author\'s books' %></td>
          <td><%= user.books.size %></td>
        </tr>
      <% end %>
    </table>
<%- else %>
  <p>No registered authors currently</p>
<%- end %>
