<%- if user_signed_in? %>
  <p>
    Currently you have <%= current_user.books_count %> uploaded books.
    Do you want to <%= link_to 'add books', new_user_book_path(current_user) %>?
  </p>
<%- else %>
  <p>
    Are you the author?
    <%= link_to "Sign up", new_registration_path(:user) %> or <%= link_to "sign in", new_user_session_path %> and upload your books !
  </p>
<%- end %>

<%= render 'users/by_count_of_books' if @user_by_count_of_books.any? %>
<%= render 'books/recently_added' if @recently_added_books.any? %>
