<%= form_for([current_user, @book], html: { multipart: true }) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, size: '43x5' %>
  </div>

  <div class="field">
    <%= f.label 'Bookfile (allowed only pdf)' %><br />
    <%- unless @book.new_record? %>
      <%= f.label 'Current bookfile: '%><%= render partial: 'download_book', object: @book %><br />
    <%- end %>
    <%= f.file_field :bookfile %>
  </div>

  <div class="actions">
    <%= f.submit %> or <%= link_to 'Cancel', user_books_path(current_user) %>
  </div>
<% end %>
