<h2>Recently added books</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Author</th>
    <th>Added at</th>
  </tr>

<% @recently_added_books.each do |book| %>
  <tr>
    <td><%= link_to book.title, book, title: 'Show book' %></td>
    <td><%= book.description %></td>
    <td><%= book.user.name %></td>
    <td><%= book.created_at.to_s(:db) %></td>
  </tr>
<% end %>
</table>
