<h2>
  <%- if @author %>
      <%- if @author == current_user %>
          My Books
      <%- else %>
          Listing books <%= "for author #{@author.name}" %>
      <%- end %>
  <%- else %>
    Books
  <%- end %>
</h2>
  <%- if @books.any? %>
    <table>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <%- if @author %>
            <th></th>
        <%- else %>
            <th>Author</th>
        <%- end %>
        <th>Bookfile</th>
        <th></th>
        <th></th>
      </tr>

      <%- @books.each do |book| %>
        <tr>
          <%- if @author %>
              <td><%= link_to book.title, user_book_path(book.user, book), title: 'Show book' %></td>
          <%- else %>
              <td><%= link_to book.title, book, title: 'Show book' %></td>
          <%- end %>

          <td><%= book.description %></td>
          <%- if @author %>
              <td></td>
          <%- else %>
              <td><%= book.user.name %></td>
          <%- end %>

          <td><%= render partial: 'download_book', object: book %></td>

          <%- if user_signed_in? && current_user == @author %>
              <td><%= link_to 'Edit', edit_user_book_path(current_user, book) %></td>
              <td><%= link_to 'Destroy', user_book_path(current_user, book), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%- else %>
              <td></td>
              <td></td>
          <%- end %>
        </tr>
      <%- end %>

      </table>
  <%- else %>
    <p>No uploaded books currently</p>
  <%- end %>

<br />

<%- if user_signed_in? && current_user == @author %>
  <%= link_to 'Add New Book', new_user_book_path(current_user) %>
<%- end %>

