<h2>Book info</h2>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Description:</b>
  <%= @book.description %>
</p>

<p>
  <b>Author:</b>
  <%= @book.user.email %>
</p>

<p>
  <b>Bookfile:</b>
  <%= render partial: 'download_book', object: @book %>
</p>

<%- if @author %>
    <%- if @author == current_user %>
        <%= link_to 'My Books', user_books_path(@author) %>
    <%- else %>
        <%= link_to 'Books', user_books_path(@author) %>
    <%- end %>
<%- else %>
  <%= link_to 'Books', books_path %>
<%- end %>

<%- if @book.user == current_user %>
    | <%= link_to 'Edit', edit_user_book_path(current_user, @book) %>
<%- end %>
