<h1>The page you were looking for doesn't exist.</h1>
<%- if @not_found_path %>
    <p>You tried to access: "<%= @not_found_path %>"</p>
<%- end %>

<p>You may have mistyped the address or the page may have moved.</p>
<p><%= link_to 'Return to home page', root_path %></p>
