<!DOCTYPE html>
<html>
<head>
  <title>SimpleLib</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Simple library</h1>

  <div id="menu">
    <%= link_to 'Home', root_path %>
    <%= link_to 'Authors', users_path %>
    <%= link_to 'Books', books_path %>
    |
    <%- if user_signed_in? %>
      <%= link_to 'My Books', user_books_path(current_user) %>

      <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
        (logged as: <%= current_user.name %>, <%= current_user.email %>)
    <%- else %>
      <%= link_to "Sign in", new_user_session_path %>
    <%- end  %>
  </div>
  <div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>

  <%= yield %>

</body>
</html>
